<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    I am a BSc Computer Science (First) graduate from Teesside
                    University.
                </p>
                <p>
                    <!--Detail-->
                    My final-year project involved full stack development,
                    requiring a back-end consisting of microservices, and web
                    app (C#, .NET Core, MSSQL), as well as an android app,
                    communicating with services using API calls.
                </p>
                <p>
                    Previously studied modules include Agile Development (C#,
                    .NET Core, Android), Advanced Java Programming
                    (involving development of agent-based middleware and use of
                    design patterns), Relational/NoSQL Databases, Algorithms and
                    Data Structures and
                    Internet Architecture and Security.
                </p>
                <p>
                    I developed an Android application as part of my Agile
                    developer module, which managed systems via a connected web
                    service and monitoring software.
                </p>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Skills</h3>
                <ul>
                    <li>
                        C#, ASP.NET (Visual Studio)
                    </li>
                    <li>
                        Agile Development
                    </li>
                    <li>
                        Java (NetBeans/IntelliJ)
                    </li>
                    <li>
                        Entity Framework Core
                    </li>
                    <li>
                        Git
                    </li>
                    <li>
                        Python
                    </li>
                    <li>
                        Android App Development (Android Studio)
                    </li>
                    <li>
                        SQL, MSSQL (Microsoft SQL Server Management Studio)
                    </li>
                    <li>
                        Object Pascal (Delphi)
                    </li>
                    <li>
                        Clojure
                    </li>
                    <li>
                        LaTeX
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
