<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
		<div class="col-sm-6">
			<p>
				I am a third year BSc Computer Science student at Teesside University, currently studying Cloud System DevOps, Knowledge Based Artificial Intelligence, and Software Reliability.
			</p>
			<p>
				<!--Detail-->
				Previously studied modules include Advanced Java Programming (involving development of agent-based middleware and use of design patterns), Relational/NoSQL Databases, Web Apps and Services (C#, .NET, MVC), Algorithms and Data Structures and Internet Architecture and Security.
			</p>
			<p>
				I developed an Android application as part of my Agile developer module, which managed systems via a connected web service and monitoring software.
			</p>
		</div>
		<div class="col-sm-6">
			<h3 style="margin-top:0;">Skills</h3>
			<ul>
				<li>
				Java (NetBeans/IntelliJ)
				</li>
				<li>
				C#, ASP.NET (Visual Studio)
				</li>
				<li>
				Entity Framework Core
				</li>
				<li>
				Git
				</li>
				<li>
				Android App Development (Android Studio)
				</li>
				<li>
				SQL, MSSQL (Microsoft SQL Server Management Studio)
				</li>
				<li>
				Object Pascal (Delphi)
				</li>
				<li>
				Clojure
				</li>
				<li>
				LaTeX
				</li>
				<li>
				Agile Development
				</li>
			</ul>
		</div>
    </div>
  </div>
</section>
