<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    I am a Developer at razorblue, mainly working on supporting and re-developing a legacy ERP
                    system.
                </p>
                <p>In my spare time, I LARP, 3D print, listen to music on old audio formats, and self-host interesting projects.</p>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0;">Skills & Technical Knowledge</h3>
                <ul>
                    <li>C#, .NET, .NET Core</li>
                    <li>Git</li>
                    <li>TFS (Team Foundation Server)</li>
                    <li>Azure DevOps</li>
                    <li>Entity Framework/Core</li>
                    <li>T-SQL (Transact SQL)</li>
                    <li>C++, MFC</li>
                    <li>Docker, Docker Compose</li>
                    <li>Java</li>
                    <li>Linux</li>
                    <li>HTML, CSS, Bootstrap</li>
                    <li>Blazor</li>
                </ul>
            </div>
        </div>
    </div>
</section>
