<section class="tout" id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <ul style="list-style: none;">
                    <li>
                        <h4>razorblue (2020-present)</h4>
                        <p>Working on supporting, maintaining, and developing a large legacy C++ ERP system since 2020 as part of a small agile team.</p>
                        <p>Redevelopment of legacy project using modern architecture, C#, .NET, to make it easier to integrate into other services.</p>
                        <p>Focus on code maintainability, behaviour driven and unit testing.</p>
                        <p>Regular team standups, reporting to project manager, task estimation.</p>
                        <p>This role involves heavy use of C#, .NET, and T-SQL, along with some Blazor development and
                            the use of Docker.</p>
                    </li>
                    <li>
                        <h4>Self-Hosting</h4>
                        <p>Host my own services for a variety of applications (ironically, not this site though, this is done through GitHub pages)</p>
                        <p>Automated deployment using GitOps and docker compose, carried out by portainer.</p>
                        <p>Services include Git Repositories (<a
                                href="https://gitea.dcurrey.co.uk/">Gitea</a>), audiobook storage and access (using
                            <a href="https://github.com/advplyr/audiobookshelf">Audiobookshelf</a>), and Image storage (<a
                                    href="https://github.com/immich-app/immich">Immich</a>).</p>
                        <p>Includes a DevOps environment which including Jenkins and Sonarqube for code quality, which were configured against repositories. This approached helped identify changes with the CI/CD in the workplace which could boost efficiency.</p>
                        <p>Log aggregation (comparing Seq, Grafana/Loki) with prototype software, to apply to professional work in due course.</p>
                        <p>Access of public services is configured with cloudflare and reverse proxy, which automatically manage SSL.</p>
                        <p>Private services are accessed using headscale, similar to Tailscale (P2P VPN tunneling).</p>
                    </li>
                    <li>
                        <h4>Syski (Project) (2019)</h4>
                        <p><i>Winner of ExpoTalent TechART (Technical Artifact)
                            Award (2019)</i>. A system management & monitoring
                            application created in an agile development group as a
                            part of my University Course. Making use of an API
                            (Written in C#), Windows/Linux monitor application and
                            an Android application, written in Java.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
