<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Lorem ipsum dolor sit amet</b>. Vestibulum vehicula neque tellus, id placerat purus consequat vel. Aliquam ornare mi urna, quis semper mi bibendum nec. 
			  </li>
			  <li>
				  <b>Duis at porta enim.</b>. Nam sollicitudin tempor velit, eu pharetra augue mollis ultricies. Cras erat enim, feugiat pellentesque aliquam et, blandit id dui.
			  </li>			  
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Lorem ipsum dolor sit amet</h3>
		  <ul>
  			<li>
          Vestibulum vehicula neque tellus, id placerat purus consequat vel. Aliquam ornare mi urna, quis semper mi bibendum nec. Pellentesque eros eros, vulputate nec volutpat non, pulvinar non sem. Proin in ultricies nisi. Phasellus at leo est. Phasellus eu tincidunt turpis. Etiam quis posuere dolor
    		</li>  			
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
			Lorem ipsum dolor sit amet
  			</li>
  			<li>
  			  Duis at porta enim.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
