<section class="tout" id="projects">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
		<div class="row">
			<div class="col-sm-6">
				<p>
				My noteworthy projects include:
				</p>
				<ul>
					<li>
					<b>Syski</b> <i>Winner of ExpoTalent Best Technical Artefact Award (2019)</i>. A system management & monitoring application created in an agile development group as a part of my University Course. Making use of an API, Windows/Linux monitor application and an Android application, written in Java.
					</li>							  
				</ul>
			</div>
			<div class="col-sm-6">
				<h3 style="margin-top:0">Other Things</h3>
				<ul>
					<li>
					I also helped to administrate and keep up to date the Middlesbrough Motorclub Trials website (2014 - 2017), mainly maintaining the news section and helping to restructure the page hierarchy within constraints set by the owners.
					</li>  			
				</ul>
			</div>
		</div>
  </div>
</section>
