<section class="tout" id="projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    My noteworthy projects include:
                </p>
                <ul style="list-style: none;">
                    <li>
                        <a
                            href="https://github.com/the-kerfi-team/syski_client_android"><h4>Syski</h4></a>
                        <i>Winner of ExpoTalent TechART (Technical Artifact)
                            Award (2019)</i>. A system management & monitoring
                        application created in an agile development group as a
                        part of my University Course. Making use of an API
                        (Written in C#), Windows/Linux monitor application and
                        an Android application, written in Java.
                    </li>
                    <!--<li>
                        <a href="https://github.com/dscurrey/AdventOfCode19"><h4>Advent
                                Of Code</h4></a>
                        I am taking part in the <a
                            href="https://adventofcode.com/2019">2019</a> Advent
                        of Code - an Advent Calendar of small programming
                        puzzles, which can be completed in any programming
                        language. I am using this challenge in order to further
                        develop and improve my problem solving skills in a
                        programming language where I haven't had much experience
                        with this (C#).
                    </li>-->
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0">Other Things</h3>
                <ul>
                    <li>
                        Helped to administrate and update the Middlesbrough
                        Motorclub Trials website (2014 - 2017), mainly
                        maintaining the news section and helping to restructure
                        the page hierarchy within constraints set by the owners.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
